{% extends 'HamidOnline/base_layout.html' %}
{% block content %}
   <div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <form class="form-group form-inline" action="" method="post">
                    <label for="name">لینک</label>
                    <input type="text" id="#url" name="url" class="form-control" placeholder="وارد کن">
                    <button type="submit" class="btn btn-primary">کردم</button>
                </form>
                <div class="list-container">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">توییت شماره یک</h4>
                            <p class="list-group-item-text author-name">سکینه جون مادرت برگرد</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">توییت شماره دوم</h4>
                            <p class="list-group-item-text author-name">سکینه ماییدی بابا برگرد</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">توییت شماره سوم</h4>
                            <p class="list-group-item-text author-name">سکینه به شخمم نیا بابا</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-container">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">توییت شماره یک</h4>
                        <p class="list-group-item-text author-name">سکینه جون مادرت برگرد</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">توییت شماره دوم</h4>
                        <p class="list-group-item-text author-name">سکینه ماییدی بابا برگرد</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">توییت شماره سوم</h4>
                        <p class="list-group-item-text author-name">سکینه به شخمم نیا بابا</p>
                    </a>
                    <a href="#" class="btn btn-primary">ادیت</a>
                    <a href="#" class="btn btn-primary">خروجیشو بیگی</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}